@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

body {
    font-size: 15pt;
    font-family: 'Dongle', sans-serif;
    background-color: #42445A;
    color: white;
}
.title {
  position: relative;
  top: 0%;
  left: 10%;
  font-size: 30pt;
}
.container-config {
  position: relative;
  left: 10%;
  background-color: #42445A;
  color: white;
  padding: 20px;
  min-width: 60%;
  max-width: 60%;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}
#lang {
  width: 50px;
  height: 30px;
  background-color: #42445A;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  outline: none;
}
#text {
  position: relative;
  left: 10%;
  width: 60%;
  height: 100px;
  padding: 20px;
  font-size: 12pt;
  
  border: 1px solid whitesmoke;
  border-radius: 5px;
  background-color: #42445A;
  color: white;
  font-family: 'Dongle', sans-serif;
}
.talk {
  position: relative;
  left: 10%;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  background-color: #42445A;
  outline: none;
  padding: 10px;
  color: white;
}
.talk:active {
  position: relative;
  left: 10%;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  background-color: #42445A;
  outline: none;
  padding: 10px;
  color: white;
}